@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");

:root {
	--orange: #f85838;
	--indigo: #1e2732;
	--gray: #f4f4f5;
	--green: #34e83b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";
}

.navbar {
	padding-left: 50px;
}

.navbar-nav {
	font-weight: 500;
}

.navbar-nav > li {
	margin-left: 10px;
	margin-right: 10px;
}

.nav-wrapper {
	position: absolute;
	right: 0;
	left: 0;
}

.jumboWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 115vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.jumboHome {
	background-image: url("./assets/img/homePage.jpg");
}

.jumboUsluge {
	background-image: url("./assets/img/uslugePage.jpg");
}

.jumboText {
	width: 40%;
	margin-top: auto;
	margin-left: 4em;
}

.txt {
	margin-top: auto;
}

.jumboText h1 {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 3rem;
	color: white;
}

.showcaseBox {
	height: 400px;
	width: 300px;
	background: white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
}

.showcaseRow {
	padding-bottom: 4em;
	margin-top: -1px;
}

.membershipBox {
	height: auto;
	width: 300px;
	background: white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
}

.centerRow {
	justify-content: center;
	align-items: center;
}

.showcaseBoxLower {
	padding: 0 20px;
	text-align: center;
}

.showcaseBoxLower p {
	text-align: left;
}

.star {
	width: 20px;
	margin: 0 5px;
}

.rating {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 5px 0;
	font-size: 12px;
}

.showcaseDesc {
	font-size: 18px;
}

.showcaseTitle {
	font-size: 24px;
	margin-top: 10px;
}

.showcaseNum {
	margin-left: 0.5em;
	font-size: 18px;
}

.showcaseImg {
	width: 100%;
	border-radius: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 50%;
	background-image: url("./assets//img/showcase1.jpg");
}

.showcaseDesc {
	font-size: 14px;
}

.sectionTitle {
	color: var(--orange);
	font-size: 21px;
	border-bottom: 2px solid var(--orange);
}

.sectionTitleBig {
	margin-bottom: 1.5em;
	font-size: 24px;
}

.membershipRow {
	background-color: var(--gray);
	padding-bottom: 4em;
}

.navbar-nav a {
	color: white !important;
	text-decoration: none;
	position: relative;
	padding-bottom: 2px;
}

.navbar-nav a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--orange);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navbar-nav a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(0.8);
	transform: scaleX(0.8);
}

.membershipBox {
	padding: 30px 20px;
}

.membershipBox:last-child {
	padding-bottom: 20px;
}

.membershipItemRow {
	display: flex;
	justify-content: space-between;
	padding: 15px 5px 5px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	vertical-align: middle;
}

.membershipItemRow:last-child {
	border: none;
}

.membershipCheck {
	width: 30px;
	vertical-align: middle;
	margin-right: 1em;
}

.membershipTitle {
	color: var(--orange);
	font-weight: 700;
	font-size: 18px;
}

.membershipPrice {
	font-weight: 700;
}

.icon {
	display: inline-block;
	vertical-align: middle;
}

.membershipItemRow .icon {
	margin-right: 1em;
	width: 30px;
}

#membershipTitleTop {
	margin-bottom: 2em;
	margin-top: 0.5em;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--indigo);
	color: white;
	font-family: "Montserrat";
	font-weight: 300;
	padding-bottom: 20px;
}

.footer div {
	margin-top: 20px;
}

.topPartWhite {
	width: 100%;
	align-self: flex-end;
	margin-top: auto;
	margin-bottom: -1px;
}

.bottomPartWhite {
	width: 100%;
	align-self: flex-start;
}

.bottomPartGray {
	width: 100%;
	align-self: flex-end;
}

.infoRow {
	position: relative;
	width: 80%;
	height: 100%;
	z-index: 2;
}

.infoPicLeft {
	width: 40%;
	height: 80vh;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	clip-path: polygon(0 0, 100% 0%, 65% 100%, 0 100%);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.infoBackRight {
	width: 80%;
	background-color: var(--gray);
	height: 80vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
	margin-top: 20px;
	display: flex;
	padding-left: 20%;
}

.infoTreninzi {
	background-image: url("./assets/img/infoPics/treninzi.jpg");
}

.infoShadow {
	filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.typeBanner {
	width: 30%;
}

.typeTitle {
	font-size: 18px;
	font-weight: 700;
	color: var(--orange);
}

.typeInfo {
	vertical-align: center;
	margin-left: 0.5em;
	color: var(--orange);
}

.typeDesc {
}
