@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");

:root {
	--orange: #f85838;
	--indigo: #1e2732;
	--gray: #f4f4f5;
	--green: #34e83b;
	--lightIndigo: #4a545f;
	--ultraLightGrey: #e9ebf0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";
}

.navbar {
	padding-left: 50px;
	z-index: 1050 !important;
}

.navbar-nav {
	font-weight: 500;
}

.navbar-nav > li {
	margin-left: 10px;
	margin-right: 10px;
}

.nav-wrapper {
	position: absolute;
	right: 0;
	left: 0;
}

.jumboWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 115vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.jumboProfileScale {
	height: 50vh !important;
}

.jumboHome {
	background-image: url("./assets/img/homePage.jpg");
}

.jumboUsluge {
	background-image: url("./assets/img/uslugePage.jpg");
}

.jumboZakazivanje {
	background-image: url("./assets/img/zakazivanjePage.jpg");
}

.jumboONama {
	background-image: url("./assets/img/onamaPage.jpg");
}

.jumboPodesavanja {
	background-image: url("./assets/img/settingsPage.jpg");
}

.jumboProfile {
	background-image: url("./assets/img/settingsPage.jpg");
}

.jumboTextOLD {
	width: 40%;
	margin-top: auto;
}

.jumboContent {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	overflow: hidden;
}

.testWhite {
	color: white;
	margin-top: auto;
}

.jumboText {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 3rem;
	color: white;
}

.showcaseBox {
	height: 400px;
	width: 300px;
	background: white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
}

.showcaseRow {
	padding-bottom: 4em;
	margin-top: -1px;
}

.membershipBox {
	height: auto;
	width: 300px;
	background: white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	margin: 0 auto;
}

.centerRow {
	justify-content: center;
	align-items: center;
}

.showcaseBoxLower {
	padding: 0 20px;
	text-align: center;
}

.showcaseBoxLower p {
	text-align: left;
}

.star {
	width: 20px;
	margin: 0 5px;
}

.rating {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 5px 0;
	font-size: 12px;
}

.showcaseDesc {
	font-size: 18px;
}

.showcaseTitle {
	font-size: 24px;
	margin-top: 10px;
}

.showcaseNum {
	margin-left: 0.5em;
	font-size: 18px;
}

.showcaseImg {
	width: 100%;
	border-radius: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 50%;
	/*background-image: url("./assets//img/showcase1.jpg");*/
}

.showcaseDesc {
	font-size: 14px;
}

.sectionTitle {
	color: var(--orange);
	font-size: 21px;
	border-bottom: 2px solid var(--orange);
}

.sectionTitleBig {
	margin-bottom: 1.5em;
	font-size: 24px;
}

.membershipRow {
	background-color: var(--gray);
	padding-bottom: 4em;
}

.navbar-nav a {
	color: white !important;
	text-decoration: none;
	position: relative;
	padding-bottom: 2px;
}

.navbar-nav a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--orange);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navbar-nav a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(0.8);
	transform: scaleX(0.8);
}

.loginText {
	color: white !important;
	text-decoration: none;
	position: relative;
	padding-bottom: 2px;
}

.loginText::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--orange);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.loginText:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(0.8);
	transform: scaleX(0.8);
}

.membershipBox {
	padding: 30px 20px;
}

.membershipBox:last-child {
	padding-bottom: 20px;
}

.membershipItemRow {
	display: flex;
	justify-content: space-between;
	padding: 15px 5px 5px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	vertical-align: middle;
}

.membershipItemRow:last-child {
	border: none;
}

.membershipCheck {
	width: 30px;
	vertical-align: middle;
	margin-right: 1em;
}

.membershipTitle {
	color: var(--orange);
	font-weight: 700;
	font-size: 18px;
}

.membershipPrice {
	font-weight: 700;
}

.icon {
	display: inline-block;
	vertical-align: middle;
}

.membershipItemRow .icon {
	margin-right: 1em;
	width: 30px;
}

#membershipTitleTop {
	margin-bottom: 2em;
	margin-top: 0.5em;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--indigo);
	color: white;
	font-family: "Montserrat";
	font-weight: 300;
	padding-bottom: 20px;
}

.footer div {
	margin-top: 20px;
}

.topPartWhite {
	margin-top: auto;
	margin-bottom: -1px;
}

.bottomPartWhite {
	width: 100%;
	align-self: flex-start;
}

.bottomPartGray {
	width: 100%;
	align-self: flex-end;
}

.infoRow {
	position: relative;
	width: 80%;
	height: 84vh;
	z-index: 2;
	margin-bottom: 2em;
}

.infoPicLeft {
	width: 40%;
	height: 80vh;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	clip-path: polygon(0 0, 100% 0%, 65% 100%, 0 100%);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.infoPicRight {
	width: 40%;
	height: 80vh;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	clip-path: polygon(0 0, 100% 0%, 100% 100%, 35% 100%);

	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.infoBackRight {
	width: 80%;
	background-color: var(--gray);
	height: 84vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	padding-top: 1.5em;
	padding-left: 22%;
}

.infoBackLeft {
	width: 80%;
	background-color: var(--gray);
	height: 84vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	clip-path: polygon(0 0, 80% 0%, 100% 100%, 0 100%);
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	padding: 3em 3em;
}

/* NEW INFO SECTION */

.infoContentWrapper {
	display: flex;
	width: 100%;

	background-color: var(--indigo);
	color: white;

	padding-left: 0 !important;
	padding-right: 0 !important;

	border-radius: 1.5em;

	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
}

.infoPictureLeft {
	background-size: cover;
	border-radius: 1.5em 0 0 1.5em;
	background-repeat: no-repeat;
	background-position: center center;

	clip-path: polygon(0 0, 100% 0%, 75% 100%, 0 100%);
}

.infoPictureRight {
	background-size: cover;
	border-radius: 0 1.5em 1.5em 0;
	background-repeat: no-repeat;
	background-position: center center;

	clip-path: polygon(0 0, 100% 0%, 100% 100%, 35% 100%);
}

.infoContent {
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hiddenNutrition {
	display: none;
}

@media (max-width: 992px) {
	.infoContentWrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.infoPictureLeft,
	.infoPictureRight {
		flex: none;
		-ms-flex: none;
		height: 20em;
		clip-path: none;
		border-radius: 1.5em;
	}

	.showingNutrition {
		display: none;
	}

	.hiddenNutrition {
		display: block;
	}
}

@media (max-width: 670px) {
	.servicesForm .form-row {
		justify-content: center;
	}

	.infoContentWrapper {
		margin-bottom: 1em;
	}
}

@media (max-width: 540px) {
	.servicesForm .form-group {
		margin-right: 0 !important;
	}

	.servicesForm .form-row {
		justify-content: center;
	}

	.servicesForm .invalid-group {
		min-height: 65px !important;
	}

	.loginForm .invalid-group {
		min-height: 70px !important;
	}

	.regisstrationForm .invalid-group {
		min-height: 65px !important;
	}

	.servicesForm .textAreaInvalid {
		min-height: 102px !important;
	}
}

/* END OF NEW INFO SECTION */

.infoTreninzi {
	background-image: url("./assets/img/infoPics/treninzi.jpg");
}

.infoNutricionista {
	background-image: url("./assets/img/infoPics/nutricionista.jpg");
}

.infoMasaze {
	background-image: url("./assets/img/infoPics/masaze.jpg");
}

.infoShadow {
	filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.typeBanner {
	width: 30%;
	margin-top: 3.5em;
}

.typeImg {
	width: 100%;
	height: auto !important;
}

.typeImgNew {
	height: 10em;
	width: 100%;
	border-radius: 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.terminImgNew {
	width: 100%;
	border-radius: 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.yoga1 {
	background-image: url("./assets/img/workouts/yoga/yoga1.jpg");
}
.yoga2 {
	background-image: url("./assets/img/workouts/yoga/yoga2.jpg");
}
.yoga3 {
	background-image: url("./assets/img/workouts/yoga/yoga3.jpg");
}

.pilates1 {
	background-image: url("./assets/img/workouts/pilates/pilates1.jpg");
}
.pilates2 {
	background-image: url("./assets/img/workouts/pilates/pilates2.jpg");
}
.pilates3 {
	background-image: url("./assets/img/workouts/pilates/pilates3.jpg");
}

.core1 {
	background-image: url("./assets/img/workouts/core/core1.jpg");
}
.core2 {
	background-image: url("./assets/img/workouts/core/core2.jpg");
}
.core3 {
	background-image: url("./assets/img/workouts/core/core3.jpg");
}

.cardio1 {
	background-image: url("./assets/img/workouts/cardio/cardio1.jpg");
}
.cardio2 {
	background-image: url("./assets/img/workouts/cardio/cardio2.jpg");
}
.cardio3 {
	background-image: url("./assets/img/workouts/cardio/cardio3.jpg");
}

.typeTitle {
	font-size: 18px;
	font-weight: 700;
	color: var(--orange);
}

.typeInfo {
	vertical-align: center;
	margin-left: 0.5em;
	color: var(--orange);
}

.typeDesc {
	text-align: justify;
	color: black !important;
}

.typeSort {
	display: flex;
	justify-content: space-between;
	color: var(--orange);
	font-size: 14px;
}

.typeSort span {
	cursor: pointer;
}

.typeSortActive {
	font-weight: 700;
}

.sectionList {
	margin-top: 2em;
}

.sectionList a {
	text-decoration: none;
}

.sectionListItem {
	margin-top: 0.5em;
}

@media (max-width: 990px) {
	.sectionListItem {
		margin-bottom: 2em;
	}

	.sectonList:last-child {
		margin-bottom: 0;
	}

	.typeImg {
		margin-bottom: 1em;
	}

	.typeImgNew {
		margin-bottom: 1em;
	}
}

@media (min-width: 768px) {
	.typeWrapper {
		margin-left: 1em;
	}
}

.sortSeparator {
	margin: 0 0.5em;
	cursor: text !important;
}

.servicesSelector {
	display: inline-flex;
	color: black;
	font-weight: 700;
	border-radius: 20px;
	background-color: white;
}

.servicesSelector a {
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	text-decoration: none;
	color: black;
	outline: none !important;
}

.servicesSelector a:hover,
.ssActive {
	background-color: var(--orange);
	color: white !important;
}

.servicesSelector span a:hover {
	color: white;
}

.jumboDesc {
	color: white;
	font-weight: 300;
}

.sectionText {
	width: 80%;
}

label {
	font-family: "Montserrat" !important;
	margin-left: 1em !important;
	font-weight: 500 !important;
}

input,
textarea {
	font-family: "Montserrat" !important;
	border-radius: 20px !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus,
.uneditable-input:focus {
	border-color: rgba(248, 88, 56, 0.8) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
		0 0 8px rgba(248, 88, 56, 0.6) !important;
	outline: 0 none !important;
}

textarea {
	resize: none !important;
}

.button {
	background-color: var(--orange);
	color: white;
	font-family: "Montserrat";
	font-weight: 700;
	border: none;
	padding: 0.3em 1em;
	border-radius: 15px;
	text-align: center;
	line-height: 1.2em;
	transition: 0.3s;
}

.button:hover {
	transform: scale(1.1) rotate(0.02deg);

	transition: 0.3s;
}

.icon {
	width: 1.2em;
	margin-left: 0.5em;
	vertical-align: bottom;
}

.servicesForm {
	margin-top: 1em;
	box-sizing: border-box;
}

.centerColumn {
	float: none !important;
	margin: 0 auto !important;
}

.filters {
	background-color: var(--gray);
	display: flex;
	text-align: center;
	padding: 1em 2em;
	border-radius: 15px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.filters h3 {
	font-weight: 700;
	font-size: 1.5em;
}

.filters form {
	margin-top: 0.8em;
	text-align: left;
}

.filtersNew {
	display: flex;
	background-color: var(--indigo);
	padding: 1em 2em;
	border-radius: 15px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	color: white;
}

.filtersNew form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filtersNew h3 {
	font-weight: 700;
	font-size: 1.5em;
}

.modal-dialog {
	width: 40%;
	min-width: 300px !important;
}

.modal-body {
	border-radius: 15px;
}

.modal-content {
	background-color: var(--indigo);
	color: white;
	padding: 1em 2em;
	border-radius: 15px;
}

.modalHead {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 0.8em;
}

.modalBody {
	flex-direction: column !important;
}

.loginForm .modalBody {
	flex-direction: row !important;
}

.loginForm .form-control {
	margin-bottom: 10px !important;
}

.modalBody span {
	margin: 0.2em 0;
}

.modalBody span:last-child {
	margin-bottom: 0;
}

.modalBodyTitle {
	font-weight: 500;
	font-size: 1.4em;
}

.modalButton {
	color: white;
	font-weight: 700;
	background-color: var(--orange);
	border: none;
	padding: 0.5em 1em;
	border-radius: 10px;
	outline: none !important;
}

.modalButtonFix {
	border-radius: 10px !important;
}

.modalBottom {
	justify-content: flex-end;
	margin-top: 1em;
}

.pageTitle {
	font-weight: 700;
	font-size: 2.3em;
	margin-bottom: 1em;
}

.pilates {
	background-color: #ff9b42;
}

.yoga {
	background-color: #f7ee7f;
}

.core {
	background-color: #f49390;
}

.cardio {
	background-color: #0fa3b1;
}

.workoutScheduleItem {
	border-radius: 10px;
	cursor: pointer;
	font-weight: 500;

	text-align: center;
	vertical-align: middle !important;
}

.workoutTableName {
	font-weight: 600;
}

tbody td {
	background-color: var(--gray);
}

table {
	table-layout: fixed;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14rem !important;
	border: none;
	padding: 15px;
	text-align: center;
}

.card > img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.aboutContainer {
	width: 90% !important;
	align-self: center;
}

.contactContainer {
	width: 90% !important;
	padding: 20px;
}

.contactContainer .row {
	padding-bottom: 20px;
}

.contactForm {
	margin-top: 35px;
	width: 95%;
}

.contactForm .form-group {
	width: 80%;
}

.map {
	position: relative;
	text-align: right;
	height: 100%;
	width: 100%;
}

.mapRow {
	padding-top: 25px;
	height: 95%;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 100%;
	width: 100%;
	margin: 0px;
}

#gmap_canvas {
	height: 100%;
	width: 100%;
	border: 0px;
}

.social {
	min-width: 35px;
	padding: 10px;
}

.social > img {
	width: 100%;
}

.registerFieldWrapper .form-row .form-control {
	width: 60%;
}

.registerField {
	border-radius: 20px 0 0 20px !important;
}

.registerFieldWrapper .form-row .modalButton {
	width: auto !important;
	border-radius: 0 20px 20px 0;
}
.centerRowY {
	align-items: center;
}

.centerRowX {
	justify-content: center;
}

@media (max-width: 990px) {
	.homeItems {
		padding-bottom: 2em;
	}
}

.contactIcon {
	background-color: var(--orange);
	width: 40px;
	height: 40px;
	min-width: 40px;
	clip-path: circle(20px at center);
}

.contactIcon > img {
	width: 20px;
}

.credentials {
	width: 75%;
}

.paddinglessCol {
	padding: 0px !important;
}

.myRow {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.minRow {
	min-width: 250px;
}

.is-invalid {
	border-width: 1px !important;
	padding: 0.375rem 0.75rem !important;
}

.is-valid {
	padding: 0.375rem 0.75rem !important;
}

.invalid-feedback {
	margin-left: 1em !important;
}

.infoRowHigher {
	height: 94vh;
}

.card-body {
	width: 280px;
}

.checkmark {
	width: 55%;
}

.card-img-top {
	object-fit: cover !important;
}

.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: dash 2s ease-in-out;
	-webkit-animation: dash 2s ease-in-out;
}

.spin {
	animation: spin 2s;
	-webkit-animation: spin 2s;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}

.success {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: white;
	font-size: 30px;
	margin: 20px auto;
	text-align: center;
	animation: text ease-in-out 0.4s;
	-webkit-animation: text ease-in-out 0.4s;
}

.successBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.pdfIcon {
	width: 2.5em;
}
.arrows {
	width: 50px;
	height: 50px;
	background-color: #222020;
	clip-path: circle(20px at center);
	transition: 0.2s all ease-in-out;
}

.arrows > img {
	width: 10px;
}

.arrows:hover {
	background-color: var(--orange);
	transition: 0.2s all ease-in-out;
}

.galleryImg {
	height: 100%;
	border-radius: 20px;
}

.carousel-item {
	height: 200px !important;
	overflow: hidden !important;
	width: 100% !important;
}
.carousel-item img {
	width: 100% !important;
}

.workoutGallery {
	margin: 0 auto;
}

.workoutGallery .carousel-inner {
	border-radius: 15px;
}

video {
	width: 100%;
	border-radius: 15px;
}

.rowsDown {
	display: flex;
	align-items: center;
	float: left;
}

.hPerc80 {
	height: 80% !important;
}

.slide {
	height: 100% !important;
}

.carousel-inner {
	height: 100% !important;
}

.carousel-item {
	height: 100% !important;
	transition: (0.8s ease-in-out left) !important;
}

.servicesForm .invalid-group {
	min-height: 70px;
}

.loginForm .invalid-group {
	min-height: 70px;
}

.reviewForm .invalid-group {
	min-height: 102px;
}

.closeButton {
	width: 0.6em;
	cursor: pointer;
}

.registrationForm .invalid-group {
	min-height: 65px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: var(--orange);
	background-color: var(--orange);
}

.textAreaInvalid {
	min-height: 102px;
}

.servicesForm .form-group {
	margin-bottom: 0 !important;
}

.formRow {
	width: 100% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.formRow .form-group {
	margin-bottom: 0 !important;
}

.formRow .form-control {
	width: 100% !important;
	border-radius: 5px !important;
	background-color: var(--lightIndigo) !important;
	color: white !important;
}

.formRow label {
	margin-left: 0px !important;
}

.formRow input[type="text"],
.formRow input[type="password"] {
	border: none !important;
	box-shadow: none !important;
	outline: 0 none !important;
}
.formRow .form-control {
	transition: none !important;
	border: none !important;
	color: white;
}

.formRow .form-control:focus {
	border: 2px solid var(--orange) !important;
}

.formRow input[type="text"]:focus,
.formRow input[type="password"] {
	border: 2px solid;
	border-color: var(--orange) !important;
	box-shadow: none !important;
	outline: 0 none !important;
}

.labelMin {
	font-weight: 300;
	font-size: 0.8em;
}

.card {
	background-color: transparent;
}

.termini {
	width: 85%;
}

.sad {
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.sad > img {
	width: 100%;
	max-width: 250px;
}

.profileCard {
	margin-top: -180px;
}

.profileCard .card img {
	height: 90%;
	width: auto;
}

.treningListItem {
	width: 100% !important;
	border-radius: 20px 20px 20px 20px !important;
	margin: auto;
	background-color: var(--ultraLightGrey);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.treningListItem .myWorkout {
	width: 100%;
	min-width: 150px;
	border-radius: 20px 20px 20px 20px !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.trash {
	padding-right: 5px;
	height: 50px;
}

.treninziDesc {
	text-align: left;
	font-size: 16px;
	padding-left: 0.5em;
}

.profilePic {
	border-radius: 50%;
	width: 100%;
	height: auto;
}

.clockIcon {
	height: 20px;
	margin-right: 5px;
}

.container80 {
	width: 80%;
}

.settingsMargin {
	margin: 0 !important;
	margin-bottom: 25px !important;
	margin-top: 15px !important;
}

.buttonsRow {
	margin-bottom: 25px;
	margin-top: 45px !important;
}

.settingsForm .form-control {
	width: 80%;
	border: 2px solid var(--indigo);
	margin-bottom: 10px;
}

#deleteButton {
	border: 2px solid var(--orange);
	background-color: white;
	color: black;
	transition: 0.2s all ease-in-out;
}

#deleteButton:hover {
	color: white;
	background-color: var(--orange);
	transition: 0.2s all ease-in-out;
}

.imeRCol {
	padding: 0px !important;
}

.prezimeRCol {
	padding: 0px !important;
}

.languages {
	color: white;
	font-family: "Montserrat";
}

.languages span {
	cursor: pointer;
}

.langSeparator {
	margin: 0 0.5em;
	cursor: text !important;
}

.languageActive {
	font-weight: 700;
}

.userSection span,
.userSection .userIcon {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.userIcon {
	width: 50px;
	clip-path: circle(50% at 50% 50%);
}

.userName {
	color: white;
}

.userMenu {
	position: absolute;
}

.userMenu li {
	cursor: pointer;
}

.userMenu li:hover {
	color: var(--orange);
}

nav {
	z-index: 25 !important;
}

.userMenu {
	position: absolute;
	top: 75px;
	right: 55px;
	background: #fff;
	padding: 1em;
	border-radius: 15px;
	display: none;

	transition: 0.5s all ease-in-out;
}

.userMenu ul {
	list-style: none;
	margin-bottom: 0 !important;
}

.userMenu ul li {
	margin-bottom: 0.8em;
}

.userMenu ul li img {
	margin-right: 0.5em;
}

.menuIcon {
	width: 25px;
}

.userMenu:before {
	content: "";
	position: absolute;
	top: -18px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
}

.userMenu a {
	text-decoration: none;
	color: black;
}

.userMenu a:hover {
	color: var(--orange);
}

.menuActive {
	display: block;
}

.workoutDesc {
	text-align: justify;
}

.workoutInfoTitle {
	font-weight: 500;
	font-size: 1.4em;
}

.workoutStar {
	width: 2em;
	margin: 0 5px;
}

.workoutIcon {
	width: 2em;
}

.starRating {
	font-size: 1.2em;
	font-weight: 300;
}

.reviewButton {
	border-radius: 10px !important;
	padding: 0.8em 1.5em;
	font-size: 1.2em;
}

.comment {
	color: black;
	font-weight: 300;
	font-style: italic;
	text-align: justify;
}

.commentSlider {
	cursor: pointer;
}

.disabledBtn {
	pointer-events: none;
	opacity: 0.6;
}

.userColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.commentUserName {
	font-weight: 500;
}

.loginText {
	cursor: pointer;
	color: white;
	font-weight: 700;
}
